body{
    font-family: 'source sans pro';
    
}
/*header style*/
header{
    background-image: url(images/headphones_hero_1.jpg);
    height: 100vh;
    background-size: cover;
    line-height: 1.5;
}
/* navigation bar*/

nav{
    height: 7rem;   
    margin: 0rem 15rem;
    align-items: center;
    display: flex;

}
nav a {
    text-decoration: none;
    color: white;
    font-size: bold;
    padding: 1rem 1.5rem;
}
nav img{
    height: max-content;
}

#what{
    margin-left: auto;
}

/*Leading section*/

.leading_sec{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0  30rem;
    color: white;
    margin-top: 15rem;
}
#leading_text{
    font-size: .9rem;
    margin: auto;   
}

#leading_title{
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 1rem;
}
#leading_title_sub{
    font-size: 0.8rem;
}
.leading_sec a{
    background-color: #FF6565;
    color: white;
    text-decoration: none;
    padding: .5rem 1rem ;
    border-radius: 1.5rem;
    width: fit-content;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

/*main content (what we do section) */

.what_we_do{
    text-align: center;
    width: 45%;
    margin: auto;
}
.what_we_do h2{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    height: auto;
}
.what_we_do p{
    font-size: 1rem;
}

/* media sec*/

.cards_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 20%;
    
}
.card img{
    width: 5rem;
    height: 5rem;
}

.card {
    width: 15%;
    text-align: center;
    height: max-content;
}
.card h3{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.8rem;
    padding-bottom: 1rem;

}
.card p{
    font-size: .7rem;
    line-height: 1.5;
}
/* Results*/

.results{
    background-image: url("images/headphones_hero_2.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    
}
.results h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;

    padding-top: 12rem;
}
.results p{
    width: 40%;
    margin: auto;
    font-size: 0.9rem;
    
}
.results_cards{
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3rem;
}
.result_card{
    width: 15%;
    position: relative;
    text-align: center;
}
.result_card h4{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    transform: translate(-50%,-50%);
}
.result_card p{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .6rem;
}
.result_card img{
    height: 10rem;
}

/* contact us section*/

.contact_container{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.contact_container h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.data_entered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 20%;
}
/*
.name_entered{
    display: flex;
    margin-bottom: 2rem;
}
.email_entered{
    display: flex;
    margin-bottom: 2rem;
}
.message_entered{
    display: flex;
    margin-bottom: 2rem;
    color: black;
}
*/
#name{
    width: 100%;
    border-bottom: 0.5px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 2rem;
    font-weight: bold;

}

#email{
    width: 100%;
    border-bottom: 0.5px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 2rem;
    font-weight: bold;
}
#your_message{
    width: 100%;
    border-bottom: 0.5px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 2rem;
    font-weight: bold;
}
.data_entered a{
    background-color: #FF6565;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem ;
    border-radius: 1.5rem;
    width: fit-content;
    text-align: center;
    margin-bottom: 4rem;
    margin: auto;
    margin-top: 2rem;
}
::placeholder{
    color: black;
    opacity: 1.0;
}
