body {
    display: flex;
    flex-direction: column;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
}
aside{
    flex: 1;
    overflow-y: auto;
}